<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block style %}
    {% endblock %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body>
    <a id="home-button" href="https://soheekim.dev/">
        {% if lightmode %}
            <img src="{{ url_for('static', filename='img/home-light.png') }}" alt="Back to home" title="Back to home">
        {% else %}
            <img src="{{ url_for('static', filename='img/home-dark.png') }}" alt="Back to home" title="Back to home">
        {% endif %}
    </a>

    {% block content %}
    {% endblock %}

    <div id="bottomlink">
        {% if page == "sudoku" %}
            <a href="/leaderboard">Leaderboard</a>
        {% endif %}
        {% if page == "leaderboard" %}
            <a href="/sudoku">Play sudoku</a>
        {% endif %}
        &bull;
        <a href="https://github.com/soheekim2109/SudokuFlaskApp">Source code</a>
    </div>
    {% block script %}
    {% endblock %}
</body>
</html>